<p>Current Order</p>

<form method="post" action="/pizza-orders/<%= @order.id %>">
  <label for="first-name">First Name:</label>
  <input type="text" id="first-name" name="first_name" value="<%= @order.first_name%>"/>
  <label for="last-name">Last Name:</label>
  <input type="text" id="last-name" name="last_name"value="<%= @order.last_name%>"/>
  <label for="quantity">Quantity:</label>
  <input type="number" id="quantity" name="quantity"value="<%= @order.quantity%>"/>
  <label for="topping">Topping:</label>
  <select id="topping" name="topping">
    <option value="<%=@order.topping%>" selected><%= @order.topping %></option>
    <option value="Pepperoni">Pepperoni</option>
    <option value="Hawaian">Hawaian</option>
    <option value="Veggie">Veggie</option>
  </select>

  <input type="submit" value="Submit Changes"/>
</form>
